* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(img/xps-e59Y6vqbL7Y-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.menu-bar {
    background: midnightblue;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover {
    background: #2bab0d;
    border-radius: 5px;
}

.menu-bar .fa {
    margin-right: 8px;
}

.sub-menu1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background: rgb(105, 105, 175);
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.menu-bar ul li:hover .sub-menu1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li {
    width: 210px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover {
    background: #2bab0d;
    border-radius: 5px;
    padding: 10px;
}

.fa-angle-right {
    float: right;
}

.sub-menu2 {
    display: none;
}

.hover-me:hover .sub-menu2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgba(0, 100, 0);
}